.Hero-section {
    background-size: cover;
    background-position: center;
    background-image: url('../../img/Hero.jpg');
    border-radius: 5px;
    height: 400px;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: center;

}

div .Hero-text-box {
    margin-left: 50px;
}
